<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="container d-flex justify-content-center my-5" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
</div>


<div class="container" *ngIf="!isLoading">

    <input
        type="text"
        class="form-control border-danger shadow-none py-4 my-4"
        placeholder="Seach..."
        [(ngModel)]="searchText"
        (keyup)="Search()"
      />

    <table  Border=1  class="table"  *ngIf="!isEmpty(); else empty" >
        <thead>
            <tr>
              
                <th  scope="col"> id </th>
                <th scope="col">nom</th>
                <th scope="col">prix</th>
                <th scope="col">surface  </th>
                <th scope="col"> Localisation </th>
              <th  scope="col">Supprimer</th> 
               <th scope="col">ajouter voiture </th> 
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of Parkings">
                <td>{{p.id}}</td>
                <td>{{p.nom}}</td>
                <td>{{p.prix}}</td>
                <td>{{p.surface}}</td>
                <td>{{p.localisation}}</td>
                <td><button (click)="supprimer(p.id)"  class="btn" >
                    <i class="fa fa-trash" aria-hidden="true"   style="color: brown"></i></button> 
                
                </td>
                
                <td><button (click)="AjouterVoitureId(p)"  class="btn" >
                    <i class="fa fa-edit" aria-hidden="true"   style="color: rgb(6, 112, 71)"></i></button> 
                
                </td>

               
                </tr>
        </tbody>
    </table>
  </div>


  <div
  class="my-5 d-flex justify-content-center"
  *ngIf="searchText === '' && totalPages > 1"
>
  <nav aria-label="...">
    <ul class="pagination">
      <li class="page-item border" *ngIf="currentPage > 0">
        <button class="page-link" (click)="Prev()">Prev</button>
      </li>

      <li
        class="page-item"
        *ngFor="let item of [].constructor(totalPages); let i = index"
      >
        <button
          class="page-link border"
          style="border-radius: 0"
          (click)="GoPage(i)"
        >
          {{ i + 1 }}
        </button>
      </li>

      <li class="page-item border" *ngIf="currentPage < totalPages - 1">
        <button class="page-link" (click)="Next()">Next</button>
      </li>
    </ul>
  </nav>
</div>


  <ng-template #empty>
    <marquee class="alert alert-danger my-4" role="alert">
      No Result Found!
    </marquee>
  </ng-template>