<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar navbar-dark bg-dark">

    <a class="navbar-brand" href="#">
      <h2 style="color: beige; font-family: Georgia, 'Times New Roman', Times, serif;"> Bienvenue </h2>
    </a>
        <button class='nav-link' routerLink="/Acceuil" class="btn"><i style="color: aliceblue;" class="fa fa-home"></i> Acceuil</button>
        <button class='nav-link' routerLink="/Login" class="btn"  style="color: aliceblue;"> Connecter </button>
        <button class='nav-link' routerLink="/Dashboard" class="btn"  style="color: aliceblue;"> Liste voiture </button>
        <button class='nav-link' routerLink="/ListeParkings" class="btn"  style="color: aliceblue;"> Liste parkings </button>
        <button class='nav-link' routerLink="/Ajoutparking" class="btn"  style="color: aliceblue;"> Ajouter Parking</button> 

  </nav>

<router-outlet></router-outlet>